<div class="row">
	<div class="col-md-6">
		<div id='calendar'></div>
	</div>
	<div class="col-md-6">
		
		<button type="button" class="btn btn-warning btn-lg btn-block">Warning</button>
	</div>
</div>
<script>
	$(document).ready(function() {
	// page is now ready, initialize the calendar...
		$('#calendar').fullCalendar({
		  events: '<%= events_path %>',
		  eventDrop: function( event, delta, revertFunc, jsEvent, ui, view ){
		  	console.log(event.start.format());
		  }
        });
	});
</script>

