<div class="row">
	<div class="col-md-6">
		<div id='calendar'></div>
	</div>
	<div class="col-md-6">
		
		<button type="button" class="btn btn-warning btn-lg btn-block">Warning</button>
	</div>
</div>
<script>
	$(document).ready(function() {
	// page is now ready, initialize the calendar...
		$('#calendar').fullCalendar({
			eventSources: [
        // your event source
        {
            events: <%= raw @events.to_json %>,
            editable: true,
            color: 'yellow',     // an option!
            textColor: 'black', // an option!
            borderColor: 'black'
        }

        // any other event sources...

    	]

		});
	});
</script>
